.ck-footer {
  background-color: $c-dark-taupe;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 115px;
    @include media-breakpoint-down(md) {
      height: auto;
      // padding: 60px 0 40px;
      padding: 20px 0;
      flex-wrap: wrap;
    }
  }

  &__logo {
    flex-basis: 200px;
    @include media-breakpoint-down(lg) {
      flex-basis: 150px;
    }
    @include media-breakpoint-down(md) {
      flex-basis: 100%;
      text-align: center;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0 60px;
    @include media-breakpoint-down(lg) {
      padding: 0 30px;
    }
    @include media-breakpoint-down(md) {
      flex-basis: 100%;
      margin-top: 20px;
      justify-content: space-around;
    }
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
    a {
      color: #fff;
      font-family: $f-museo;
      font-size: 18px;
      font-weight: 900;
      transition: .2s;
      @include media-breakpoint-down(lg) {
        font-size: 16px;
      }
      @include media-breakpoint-down(sm) {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__socials {
    @include media-breakpoint-down(md) {
      flex-basis: 100%;
      text-align: center;
      margin-top: 20px;
    }
    a {
      margin-left: 20px;
      transition: .2s;
      &:hover:not(.ck-btn) {
        opacity: 0.7;
      }
      @include media-breakpoint-down(lg) {
        margin-left: 10px;
      }
      &.ck-btn {
        margin-left: 30px;
        @include media-breakpoint-down(lg) {
          margin-left: 10px;
        }
      }
    }
  }

  &__license {
    text-align: center;
    color: #fff;
    padding: 15px 0;
    border-top: solid 1px $c-orangish;
  }
}