.ck-header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  @include media-breakpoint-down(md) {
    background: #fff;
    border-bottom: solid 1px $c-dark-taupe;
  }


  &__content {
    border-bottom: solid 1px $c-dark-taupe;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    @include media-breakpoint-down(md) {
      border: none;
      height: 50px;
      & > *:last-child {
        flex: 1;
      }
    }
  }
  
  &__logo {
    position: relative;
    width: 200px;
    height: 80px;
    margin-right: 90px;
    @include media-breakpoint-down(lg) {
      margin-right: 10px;
    }
    @include media-breakpoint-down(md) {
      width: 120px;
      height: auto;
      margin: 0 20px;
    }
    img + * {
      position: absolute;
      bottom: 0;
      left: 47px;
      font-family: $f-quicksand;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: $c-dark-taupe;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      .ck-btn {
        margin-left: 23px;
      }
    }
    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 400px;
      background-color: $c-orangish;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 27px;
      transform: translateX(-100%);
      transition: .3s ease-in-out;
      ul {
        flex-direction: column;
        align-items: flex-start;
      }
      & > *:last-child {
        align-self: center;
        justify-self: flex-end;
        margin-top: auto;
      }
      &.is-active {
        transform: none;
      }
    }
    @include media-breakpoint-down(sm) {
      width: 230px;
    }
  }

  &__link {
    font-family: $f-museo;
    font-size: 18px;
    font-weight: 900;
    color: $c-dark-taupe;
    padding: 0 23px;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: transparent;
    transition: color .2s;
    &:hover,
    &.is-active {
      color: $c-orangish;
    }
    @include media-breakpoint-down(lg) {
      font-size: 16px;
      padding: 0 13px;
    }
    @include media-breakpoint-down(md) {
      color: #fff;
      height: auto;
      margin-top: 25px;
      padding: 0;
      text-transform: uppercase;
      font-family: $f-quicksand;
      &:hover {
        color: #fff;
      }
    }
    @include media-breakpoint-down(sm) {
      @media (orientation: landscape) {
        margin-top: 15px;
      }
    }
  }

  &--scrolled {
    position: fixed;
    background: #fff;
    border-bottom: solid 1px $c-dark-taupe;
    animation: slideDown 0.3s;
    .ck-discount {
      display: none;
    }
    .ck-header__content {
      border: none;
    }
  }
}


@keyframes slideDown {
  0% { transform:translateY(-100%); }
  100% { transform:translateY(0); }
}


.ck-burger {
  width: 31px;
  height: 22px;
  display: flex;
  align-items: center;
  padding: 0;
  position: relative;
  background: none;
  span, &:before, &:after {
    display: block;
    width: 100%;
    height: 4px;
    background: $c-orangish;
    transition: .2s;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    top: auto;
    bottom: 0;
  }

  &:hover {
    span, &:before, &:after {
      background: #f7612c;
    }
  }  
}

.ck-close-nav {
  position: absolute;
  top: 16px;
  right: 12px;
  z-index: 2;
}