
// Colors
$c-dark-taupe: #7a5548;
$c-light-pink: #d3d3d3;
$c-very-light-pink: #fdf6f5;
$c-greyish-brown: #3d3636;
$c-seafoam-blue: #5cccd8;
$c-teal-blue: #029ead;
$c-faded-pink: #da9bb6;
$c-orangish: #f47e54;


// Fonts
$f-quicksand: 'Quicksand';
$f-museo: 'MuseoSansRounded';