.ck-dog {
  display: flex!important;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__img {
    min-width: 570px;
    max-width: 570px;
    height: 570px;
    padding: 40px 40px 40px 80px;
    @include media-breakpoint-down(lg) {
      min-width: 400px;
      max-width: 400px;
      height: 400px;
      padding: 20px 20px 20px 40px;
    }
  }

  &__info {
    flex: 1;
    padding: 0 80px 0 40px;
    @include media-breakpoint-down(lg) {
      padding: 0 30px 0 20px;
    }
  }

  &__issues {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__diet {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    & > img {
      margin: 20px 40px 20px 20px;
      @include media-breakpoint-down(lg) {
        margin: 0 20px 20px 0;
      }
    }
  }
}