.ck-ingredients {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  @include media-breakpoint-down(sm) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  &__img {
    margin-bottom: 170px;
    @include media-breakpoint-down(lg) {
      transform: scale(0.8);
      margin-bottom: 100px;
    }
    @include media-breakpoint-down(md) {
      transform: scale(0.7);
    }
    @include media-breakpoint-down(sm) {
      transform: none;
      margin-bottom: 30px;
      flex-basis: 100%;
      padding: 0 20px;
    }
  }

  &__info {
    position: absolute;
    max-width: 230px;
    text-align: center;
    @include media-breakpoint-down(md) {
      font-size: 14px;
      max-width: 200px;
    }
    @include media-breakpoint-down(sm) {
      position: static;
      flex-basis: 50%;
      font-size: 12px;
      margin-top: 20px;
      min-width: 50%;
      &:nth-of-type(odd) {
        padding-right: 10px;
      }
      &:nth-of-type(even) {
        padding-left: 10px;
      }
      &:before {
        display: none;
      }
    }
    &:before {
      content: '';
      position: absolute;
      height: 130px;
      width: 1px;
      background-image: linear-gradient(180deg, $c-seafoam-blue, $c-seafoam-blue 60%, transparent 60%, transparent 100%);
      background-size: 1px 13px;
      border: none;
    }
    &[data-position="tl"] {
      top: 20px;
      left: 20px;
      &:before {
        transform: rotate(110deg);
        left: 290px;
        top: 90px;
      }
      @include media-breakpoint-down(lg) {
        left: 0;
        top: 0;
        &:before {
          height: 80px;
          left: 270px;
        }
      }
      @include media-breakpoint-down(md) {
        &:before {
          height: 60px;
          left: 220px;
          top: 70px;
        }
      }
    }
    &[data-position="tr"] {
      top: 40px;
      right: 10px;
      &:before {
        transform: rotate(80deg);
        background-image: linear-gradient(180deg, $c-orangish, $c-orangish 60%, transparent 60%, transparent 100%);
        right: 300px;
        top: 100px;
        height: 110px;
      }
      @include media-breakpoint-down(lg) {
        right: 0;
        top: 0;
      }
      @include media-breakpoint-down(md) {
        &:before {
          right: 240px;
          top: 80px;
          height: 70px;
        }
      }
    }
    &[data-position="bl"] {
      bottom: 160px;
      left: 100px;
      &:before {
        transform: rotate(70deg);
        background-image: linear-gradient(180deg, $c-orangish, $c-orangish 60%, transparent 60%, transparent 100%);
        left: 340px;
        top: 0;
      }
      @include media-breakpoint-down(lg) {
        left: 20px;
        bottom: 130px;
        &:before {
          left: 300px;
        }
      }
      @include media-breakpoint-down(md) {
        &:before {
          top: 20px;
          left: 240px;
          height: 90px;
        }
      }
    }
    &[data-position="br"] {
      bottom: 220px;
      right: 60px;
      &:before {
        transform: rotate(105deg);
        right: 295px;
        top: 30px;
      }
      @include media-breakpoint-down(lg) {
        right: 20px;
        bottom: 180px;
        &:before {
          height: 80px;
          right: 260px;
          top: 40px;
        }
      }
      @include media-breakpoint-down(md) {
        right: 0;
        bottom: 100px;
        &:before {
          height: 80px;
          right: 230px;
          top: 30px;
        }
      }
    }
  }

  &__title {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: calc(100% + 13px);
      height: 130px;
      width: 1px;
      background-image: linear-gradient(180deg, $c-dark-taupe, $c-dark-taupe 50%, transparent 50%, transparent 100%);
      background-size: 1px 13px;
      border: none;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 120px;
      text-align: center;
      flex-basis: 100%;
      &:before {
        height: 85px;
      }
    }
  }
}