.ck-section {
  padding: 70px 0;
  @include media-breakpoint-down(sm) {
    padding: 30px 0;
  }
  
  &--pink {
    background-color: $c-very-light-pink;
  }

  &__bg {
    padding: 70px 0;
    @include media-breakpoint-down(sm) {
      padding: 30px 0;
    }
    background-size: contain;
    background-repeat: no-repeat;
    &[data-bg="bottom right"] {
      background-position: bottom right;
    }
  }

  &--hero {
    padding-top: 140px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include media-breakpoint-down(md) {
      min-height: 0;
    }
  }

  &--homepage {
    @include media-breakpoint-down(md) {
      background-position: right;
      background-size: contain;
      padding-top: 200px;
    }
  }


  &--sm {
    min-height: 80px;
  }

  .ck-hero-content {
    max-width: 500px;
    & > .ck-btn {
      margin-top: 30px;
    }
    @include media-breakpoint-down(md) {
      max-width: 50%;
    }
  }
}


.ck-bordered {
  position: relative;
  padding-top: 70px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(90deg, $c-dark-taupe, $c-dark-taupe 50%, transparent 50%, transparent 100%);
    background-size: 13px 1px;
    border: none;
  }
}