.ck-section {
  padding: 70px 0;
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  &.ck-bordered {
    padding: 0;
    // margin: 70px 0;
    @include media-breakpoint-down(sm) {
      // margin: 40px 0;
    }
  }
  
  &--pink {
    background-color: $c-very-light-pink;
  }

  &__bg {
    padding: 70px 0;
    background-size: contain;
    background-repeat: no-repeat;
    @include media-breakpoint-down(md) {
      .text-container {
        max-width: 50%;
      }
    }
    @include media-breakpoint-down(sm) {
      padding: 0;
      background: none!important;
      .text-container {
        max-width: 100%;
      }
    }
    &[data-bg="bottom right"] {
      background-position: bottom right;
    }
  }

  &--hero {
    padding-top: 140px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include media-breakpoint-down(md) {
      min-height: 0;
    }
    
  }

  &--homepage {
    @include media-breakpoint-down(md) {
      background-position: right;
      background-size: contain;
      padding-top: 200px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 140px;
      background-size: cover;
      background-position: 40% 30px;
    }
  }

  &--howitworks {
    background-size: contain;
    background-position: right;
    padding-bottom: 0;
  }

  &--fullbg {
    background-size: cover;
    background-position: center;
    padding: 200px 0;
  }


  &--sm {
    min-height: 80px;
  }
  
  &--video {
    padding: 0;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: $c-very-light-pink;
    }
  }

  .ck-hero-content {
    max-width: 500px;
    & > .ck-btn {
      margin-top: 30px;
    }
    @include media-breakpoint-down(md) {
      max-width: 50%;
    }
  }
}


.ck-bordered {
  position: relative;
  padding-top: 70px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(90deg, $c-dark-taupe, $c-dark-taupe 50%, transparent 50%, transparent 100%);
    background-size: 13px 1px;
    border: none;
  }
}

.ck-half-border {
  display: flex;
  flex-direction: row;
  & > * {
    flex-basis: 50%;
    padding: 100px 0;
    @include media-breakpoint-down(sm) {
      padding: 50px 0;
    }
    &:first-child {
      padding-right: 100px;
    }
    &:last-child {
      padding-left: 100px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-image: linear-gradient(180deg, $c-dark-taupe, $c-dark-taupe 50%, transparent 50%, transparent 100%);
        background-size: 1px 13px;
      }
    }
  }
}